<!DOCTYPE html>
<html>
  <head>
    <title>Erato Home Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <li><%= link_to "Home", '/static_pages/home' %> </li>
  <li><%= link_to "Books", '/books' %> </li>
  <li><%= link_to "Help", '/static_pages/help' %> </li>
    
    <%= yield %>
  </body>
</html>
